/*https://paletadecores.com/paleta/9dbcbc/f0f0af/ff370f/332717/6bacbf/*/

body{
    margin: 0;
    display: flex;
    background-color: #f0f0af;
    flex-direction: column;
    min-height: 100vh; /*100% da janela do navegador, uma vez que <body> não tem elemento pai*/
}

header, footer{
    display: flex;
    background-color: #332717;
    justify-content: center;
    color: #f0f0af;
    padding: 10px;
}

ul{
    display: flex;
    margin: 0;
    padding-left: 10px; /* para compensar a margem à direita do <li> */
    list-style-type: none;
}

li{
    transition: transform 200ms ease;
    margin-right: 10px;
}

li:hover{
    transform: translateY(3px); /* Para funcionar no header também! */
    text-decoration: underline;
}

a{
    color: #9dbcbc;
    transition: transform 200ms ease, color 200ms ease;
    text-decoration: none;
}

a:hover{
    color: #6bacbf;
    transform: translateY(-3px);
    text-decoration: underline;
}

main{
    display: flex;
    justify-content: center;
}

footer{
    margin-top: auto;
}

.amor{
    display: inline;
    color: #ff370f;
    margin: 0 5px;
}

.credito{
    margin-left: 5px;
}