body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #feffd9;
    color: #241326;
    margin: 0;
    height: 100vh; /* utiliza 100% da altura da janela */
    display: flex;
    flex-direction: column;
}

header {
    background: #241326;
    color: #feffd9;
    padding: 1rem 0;
    text-align: center; /* centraliza o título */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

header nav ul li .current-page {
    text-decoration: underline;
    font-weight: bold;
    transform: translateY(3px);
}

header nav ul li a {
    font-size: 1.25rem; /* 125% (para compensar a fonte) */
    color: #2daab5;
    display: inline-block;
}

header nav ul li a:hover {
    color: #1c4b8c;
    transform: translateY(3px) /* desloca o link 3 pixels para baixo */
}

main {
    padding-left: 10%; /* define o espaçamento à esquerda como 10% da largura da página */
    padding-right: 1rem;
    flex: 100%; /* empurra o footer e o header para as extremidades */
}

footer {
    background: #e6d0a1;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 -10px 10px #e6d0a1;  /* sombra do footer */
}

footer p {
    margin: 0 0 1rem 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: visible; /* garante que o conteúdo possa transladar */
}

footer ul li a {
    font-size: 1.25rem;
    display: inline-block;
}

footer ul li a:hover {
    transform: translateY(-3px) /* desloca o link 3 pixels para cima */
}

a {  /* links no corpo da página */
    font-family: 'Times New Roman', Times, serif;
    color: #1c4b8c;
    text-decoration: none;
    transition: all 250ms ease;
}

a:hover { /* links no corpo da página */
    text-decoration: underline dotted;
    font-weight: bold;
    color: #2daab5;
}

p #signature {
    transition: all 250ms ease;
}

p #signature:hover {
    font-weight: bold;
}

section {
    padding: 1rem;
    margin: 1rem;
}

section#released {
    border: 2px solid #17b34b;
}

section#working-on {
    border: 2px dashed #f68121;
}

section#to-do {
    border: 2px dashed #ec1f26;
}

section#archived {
    border: 2px solid #664751;
}

section h2 {
    margin-top: 0;
}

section p {
    margin-bottom: 0;
}

.logo {
    padding: 1rem;

    transition: all 250ms ease;
}

.logo:hover {
    scale: 120%;
}

.hot {
    padding-left: 0.5rem;

    transition: all 250ms ease;
}

.hot:hover {
    scale: 120%;
}

/* Desktop */
@media (min-width: 640px) {
    .book {
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-direction: row; /* padrão */
    }
    
    .book .page {
        display: flex;
        flex-direction: column; /* alinha as páginas em uma única coluna */
        width: 48%;
        padding: 10px;
        box-sizing: border-box;
    }

    ul.progress_checklist {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding-left: 1rem;
    }
}

/* Mobile */
@media (max-width: 640px) {
    .book {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
    }
    
    .book .page {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    /* Página esquerda (superior) */
    .book .page#left {
        padding-bottom: 0;
    }

    /* Página direita (inferior) */
    .book .page#right {
        padding-top: 0;
    }

    ul.progress_checklist {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-left: 1rem;
    }
}