footer {
    background: #e6d0a1;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 -10px 10px #e6d0a1;  /* sombra do footer */
}

footer p {
    margin: 0 0 1rem 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: visible; /* garante que o conteúdo possa transladar */
}

footer ul li a {
    font-size: 1.25rem;
    display: inline-block;
}

footer ul li a:hover {
    transform: translateY(-3px) /* desloca o link 3 pixels para cima */
}

footer p span #signature {
    transition: all 250ms ease;
}

footer p span #signature:hover {
    font-weight: bold;
}