<header>
    <link id="header_stylesheet" rel="stylesheet" type="text/css">

    <a href="https://yumiowari.github.io">
        <img id="logo">
            <!-- LOGOTIPO -->
        </img>
    </a>

    <!-- BARRA DE NAVEGAÇÃO -->
    <nav>
        <ul>
            <li>
                <a id="home">
                    Home
                </a>
            </li>

            <li>
                <a id="projects">
                    Projetos
                </a>
            </li>
        </ul>
    </nav>
</header>